---
import Tag from '../../../../components/atoms/Tag.astro'
import {type Project} from '../../domain/Project'

interface Props {
  project: Project
}
const {project} = Astro.props
---

<div class="w-[340px] h-[200px] flex flex-col gap-4 p-4 shadow-2xl shadow-stone-200 rounded-md border-[0.5px] justify-between">
  <div class="h-[50%]">
    <h2 class="font-semibold">{project.name}</h2>
    <p class="text-gray-500 ">{project.description}</p>
  </div>
  <div class="flex gap-2">
    {
      project.tags.map(tag => <Tag>{tag}</Tag>)
    }
  </div>
  <div class="flex justify-between">
    <a href={project.linkApp} target="_blank" class="text-emerald-500">Ver proyecto</a>  
    <a href={project.linkProject} target="_blank" class="text-emerald-500">Ver código</a>
  </div>
</div>