---
import CoreLayout from "../layouts/CoreLayout.astro";
import {type Post} from '../features/Post/domain/Post'
import {useCases} from '../features/Post/dependencies'
import Tag from "../core/Tag.astro";

const {GetAllPosts} = useCases
const posts: Post[] = await GetAllPosts.run()
---

<CoreLayout title="Oscar Moreira | Projects">

  <section class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mt-8 mb-4">Posts</h1>
    <div class="flex gap-4">
      {posts.map((post: Post) => (
        <div class="w-[340px] flex flex-col gap-4 p-4 shadow-2xl shadow-stone-200 rounded-md border-[0.5px] justify-between">
          <h2 class="text-2xl font-bold">{post.title}</h2>
          <p class="text-gray-500">{post.description}</p>
          <div class="flex gap-2">
            {
              post.tags.map(tag => <Tag>{tag}</Tag>)
            }
          </div>
        </div>
      ))}
    </div>
  </section>

</CoreLayout>