---
import {type Post} from '../models/Post'    
interface Props {
  post: Post
}

const {post} = Astro.props
// console.log(post)
---

<a href={`/post/${post.slug}`} class="flex flex-col gap-4 md:min-w-60 md:max-w-60 md:min-h-72 cursor-pointer rounded-lg">
  <figure class="md:min-w-60 md:max-w-60 md:min-h-72 overflow-hidden rounded-lg">
    <img 
      src={post.image} 
      alt=""
      class="w-[100%] h-[100%] object-cover 
      md:hover:scale-125 md:transition-all md:duration-500 
      "
    >
  </figure>
  <div class="text-stone-500 font-normal flex justify-between">
    <span>{post.creationDate}</span>
    <span>{post.timeToRead} min</span>
  </div>
  <h2 class="font-bold text-xl">{post.title}</h2>
</fi>